* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(images/background.png);
    background-size: cover;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    max-width: 100%;
    margin: 20px;
}

.navigation {
    width: 100%;
    background: rgb(126, 123, 123);
    background: linear-gradient(318deg, rgba(126, 123, 123, 0.5) 0%, rgba(17, 16, 18, 1) 0%, rgba(119, 116, 116, 1) 100%);
    padding: .8em 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

main {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 30px;
}

.cover img {
    max-width: 100%;
    display: block;
}

h2 {
    text-align: center;
}

aside {
    width: auto;
    border: rgb(78, 78, 78) 1px solid;
}

aside li {
    padding: 1.2rem;
    list-style-type: none;
    font-size: 1rem;
    text-align: center;
}
aside h2{
    margin: 1em;
}
aside a {
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

aside a:link {
    color: black;
}

aside a:visited {
    color: darkslateblue;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-size: medium;
}
