/* 把我们所有标签的内外边距清零 */
* {
    margin: 0;
    padding: 0;
    /* CSS3盒子模型 */
    box-sizing: border-box;
}

/* em 和 i 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}

/* 去掉li 的小圆点 */
li {
    list-style: none
}

img {
    /* border 0 照顾低版本浏览器 如果 图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

a {
    color: #666;
    text-decoration: none
}

a:hover {
    color: #1884df;
}

/* 以上为base.css */


html {
    background-image: url(images/background.png);
    background-size: cover;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
    max-width: 100%;
    margin: 20px;
}

/* 导航栏 */
.navigation {
    width: 100%;
    background: rgb(126, 123, 123);
    background: linear-gradient(318deg, rgba(126, 123, 123, 0.5) 0%, rgba(17, 16, 18, 1) 0%, rgba(119, 116, 116, 1) 100%);
    padding: .8em 0;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation a {
    color: #fff;
    text-decoration: none;
}

/* 主页内容 */
main {
    width: 1200px;
    margin: 20px 160px;
}

.cover {
    float: left;
    background: url(images/reading.jpg);
    background-size: cover;
    width: 900px;
    height: 505px;

}

/* 侧边栏 */
aside {
    float: right;
    width: 180px;
    height: 505px;
    border: rgb(78, 78, 78) 1px solid;
}

aside h2 {
    text-align: center;
    padding:20px 0 50px 0;
   /*  */  
}
aside li:nth-child(1){
    border-top: rgb(78, 78, 78) 1px solid;
}
aside li {
    font-size: 1rem;
    line-height: 80px;
    text-align: center;
    border-bottom: rgb(78, 78, 78) 1px solid;
    height: 80px;
    margin: 0 40px;
}

/* 尾部 */
footer {
    margin-top: 10px;
    text-align: center;
    font-size: medium;
}